.iconizedButton {
  display: flex;
  align-items: center;
  flex-direction: row;

  &.right {
    flex-direction: row-reverse;
  }
}

.icon {
  &.left {
    margin-right: 8px;
  }

  &.right {
    margin-left: 8px;
  }
}
